[core]
	editor = emacs -nw
	excludesfile = ~/.gitignore_global
[alias]
	st = status
	ci = commit
	cim = commit --amend
	l = log --all --decorate --oneline --graph
	br = branch
	co = checkout
	df = diff
	rb = rebase
	rbi = rebase -i
	rbc = rebase --continue