[core]
	editor = emacs -nw
	excludesfile = ~/.gitignore_global
	pager = delta
[delta]
    navigate = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
[alias]
	st = status
	ci = commit
	cim = commit --amend
	l = log --all --decorate --oneline --graph
	br = branch
	co = checkout
	df = diff
	rb = rebase
	rbi = rebase -i
	rbc = rebase --continue